target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.aligenerator

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

AONE_APP_*/

### log ###
*.log

